.newsSectionContainer {
  padding: 7px;
}

.newsSection {
  border: solid;
  border-color: #c6c6c6;
  border-width: 1px;
  padding: 0px;
  margin-bottom: 15px;
}

.newsSection h4 {
  margin: 0px;
}

.newsSectionHeader {
  border-bottom: solid;
  border-width: 1px;
  border-bottom-color: #dcdcdc;
  background-color: #f5f5f5;
  padding: 5px;
}

.newsSectionHeaderContent {
  padding-top: 7px; 
  padding-right: 4px;
}

.newsSectionHeaderContent ul, .newsSectionHeaderContent.li {
  /* list-style-type: none; */
  /* list-style-position: inside; */
  /* margin: 0; */
  /* padding: 0; */
  padding-left: 1.5em;
}

.feedHeader {
  font-size: 13px;
  font-weight: bold;
  line-height: 24px;
  font-family: arial, sans-serif;
}

.feedHeader a {
  color: #111;
}

.newsFeedItem {
  font-size: 13px;
  font-family: arial, sans-serif;
}

.newsFeedItem a:visited {
  color: #61c;
}

.FADragHandle:before {
  content: "\f142 \f142";
  letter-spacing: 0.1em;
}

.badGrippyBar {
  color: #A8A8A8;
  font-size: 1.2em;
}

.titleURL {
  margin-left: 8px;
}

.settings {
  display: block;
  float: right;
  font-size: 1.3em;
}
