i, p {
  display: inline-block;
}

i {
  margin-top: 4px;
  margin-right: 4px;
}

.profileSection {
  text-align: right;
}

/* .popover { */
  /* width: 400px; */
/* } */

.popoverButton {
  margin: 5px;
}

.sign-in-text {
  margin-bottom: 0.3rem;
}

.sign-up-button {
  margin-left: 1rem;
  margin-top: 0.2rem;
}

.errorMessage {
  color: #c0392b;
  margin-bottom: 0.75rem;
}
