.linkList {
  display: inline-block;
}

.linkList li {
  display: inline-block;
  margin-right: 1em;
}

.linkList a {
  color: #fff;
  /* text-decoration: underline; */
}

.linkList a:hover {
  color: #aaa;
}

.linkList i {
  cursor: pointer;
}
